.div-height {
  height: auto !important;
}
.registration-div{
  height: auto;
  width: auto;
  overflow: visible;
}
.registration-form-element{
  height: 95%;
}
.cursor-pointer{
  cursor: pointer;
}
.conversation-msg{
  margin-top: 350px;
  margin-left: 100px;
}
.btn-height{
  height: 20px;
}
